.cards-container-loading {
  position: relative;
  height: 860px;
  width: 480px;
  display: flex;
  justify-content: center;
  animation: slideIn 0.5s ease-in-out;
  background: url("../../assets/AI-Trip-Planner.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.animation-layer-loading {
  /* animation: animation-layer-fade 1s cubic-bezier(0.215, 0.61, 0.355, 1) */
  /* forwards; */
  animation-delay: 1.3s;
}
.cutout-loading {
  background: url("../../../assets/long-bg.png");
  background-size: cover;
  /* background-size: cover; */
  animation: scrollBackground 10s linear infinite;
  background-repeat: repeat-x;
}
.text-loading {
  position: absolute;
  top: 80%;
  z-index: 100;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes expandWindow {
  0% {
    /* opacity: 1; */
  }
  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
  }
}
@keyframes animation-layer-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes scrollBackground {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media only screen and (max-width: 480px) {
  .cards-container-loading {
    width: 100vw;
    height: 100vh;
  }
}
